<section class="section feedback">
  <div class="container feedback__container">
    <h2 class="feedback__title">Feedback from graduates</h2>

    <ul class="feedback__main-slider slider">
      <li class="slider__item">
        <article class="feedback__article">
          <div class="feedback__wrapper-pic">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="images/mobile/feedback/1.png 1x, images/mobile/feedback/1@2x.png 2x"
                type="image/png"
              />

              <source
                media="(min-width: 768px)"
                srcset="images/desktop/feedback/1.png 1x, images/desktop/feedback/1@2x.png 2x"
                type="image/png"
              />

              <img
                loading="lazy"
                class="feedback__image"
                src=" images/mobile/feedback/1.png"
                alt="Feedback portrait"
              />
            </picture>

            <a href="" class="feedback__social-link">
              <svg class="feedback__icon">
                <use href=" images/icons.svg#icon-vk-1"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__wrapper">
            <h3 class="feedback__name">Tonya Kucherovskaya</h3>

            <p class="feedback__text">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>

            <p class="feedback__excerpt">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
              <a class="feedback__read-more" href="">Read more</a>
            </p>
          </div>
        </article>
      </li>
      <li class="slider__item">
        <article class="feedback__article">
          <div class="feedback__wrapper-pic">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="images/mobile/feedback/2.png 1x, images/mobile/feedback/2@2x.png 2x"
                type="image/png"
              />

              <source
                media="(min-width: 768px)"
                srcset="images/desktop/feedback/2.png 1x, images/desktop/feedback/2@2x.png 2x"
                type="image/png"
              />

              <img
                loading="lazy"
                class="feedback__image"
                src=" images/mobile/feedback/2.png"
                alt="Feedback portrait"
              />
            </picture>

            <a href="" class="feedback__social-link">
              <svg class="feedback__icon">
                <use href=" images/icons.svg#icon-vk-1"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__wrapper">
            <h3 class="feedback__name">Tonya Kucherovskaya</h3>

            <p class="feedback__text">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>

            <p class="feedback__excerpt">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
              <a class="feedback__read-more" href="">Read more</a>
            </p>
          </div>
        </article>
      </li>
      <li class="slider__item">
        <article class="feedback__article">
          <div class="feedback__wrapper-pic">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="images/mobile/feedback/3.png 1x, images/mobile/feedback/3@2x.png 2x"
                type="image/png"
              />

              <source
                media="(min-width: 768px)"
                srcset="images/desktop/feedback/3.png 1x, images/desktop/feedback/3@2x.png 2x"
                type="image/png"
              />

              <img
                loading="lazy"
                class="feedback__image"
                src=" images/mobile/feedback/3.png"
                alt="Feedback portrait"
              />
            </picture>

            <a href="" class="feedback__social-link">
              <svg class="feedback__icon">
                <use href=" images/icons.svg#icon-vk-1"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__wrapper">
            <h3 class="feedback__name">Tonya Kucherovskaya</h3>

            <p class="feedback__text">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>

            <p class="feedback__excerpt">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
              <a class="feedback__read-more" href="">Read more</a>
            </p>
          </div>
        </article>
      </li>
      <li class="slider__item">
        <article class="feedback__article">
          <div class="feedback__wrapper-pic">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="images/mobile/feedback/4.png 1x, images/mobile/feedback/4@2x.png 2x"
                type="image/png"
              />

              <source
                media="(min-width: 768px)"
                srcset="images/desktop/feedback/4.png 1x, images/desktop/feedback/4@2x.png 2x"
                type="image/png"
              />

              <img
                loading="lazy"
                class="feedback__image"
                src=" images/mobile/feedback/4.png"
                alt="Feedback portrait"
              />
            </picture>

            <a href="" class="feedback__social-link">
              <svg class="feedback__icon">
                <use href=" images/icons.svg#icon-vk-1"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__wrapper">
            <h3 class="feedback__name">Tonya Kucherovskaya</h3>

            <p class="feedback__text">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>

            <p class="feedback__excerpt">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
              <a class="feedback__read-more" href="">Read more</a>
            </p>
          </div>
        </article>
      </li>
      <li class="slider__item">
        <article class="feedback__article">
          <div class="feedback__wrapper-pic">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="images/mobile/feedback/5.png 1x, images/mobile/feedback/5@2x.png 2x"
                type="image/png"
              />

              <source
                media="(min-width: 768px)"
                srcset="images/desktop/feedback/5.png 1x, images/desktop/feedback/5@2x.png 2x"
                type="image/png"
              />

              <img
                loading="lazy"
                class="feedback__image"
                src=" images/mobile/feedback/5.png"
                alt="Feedback portrait"
              />
            </picture>

            <a href="" class="feedback__social-link">
              <svg class="feedback__icon">
                <use href=" images/icons.svg#icon-vk-1"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__wrapper">
            <h3 class="feedback__name">Tonya Kucherovskaya</h3>

            <p class="feedback__text">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>

            <p class="feedback__excerpt">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
              <a class="feedback__read-more" href="">Read more</a>
            </p>
          </div>
        </article>
      </li>
      <li class="slider__item">
        <article class="feedback__article">
          <div class="feedback__wrapper-pic">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="images/mobile/feedback/6.png 1x, images/mobile/feedback/6@2x.png 2x"
                type="image/png"
              />

              <source
                media="(min-width: 768px)"
                srcset="images/desktop/feedback/6.png 1x, images/desktop/feedback/6@2x.png 2x"
                type="image/png"
              />

              <img
                loading="lazy"
                class="feedback__image"
                src=" images/mobile/feedback/6.png"
                alt="Feedback portrait"
              />
            </picture>

            <a href="" class="feedback__social-link">
              <svg class="feedback__icon">
                <use href=" images/icons.svg#icon-vk-1"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__wrapper">
            <h3 class="feedback__name">Tonya Kucherovskaya</h3>

            <p class="feedback__text">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>

            <p class="feedback__excerpt">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
              <a class="feedback__read-more" href="">Read more</a>
            </p>
          </div>
        </article>
      </li>
      <li class="slider__item">
        <article class="feedback__article">
          <div class="feedback__wrapper-pic">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="images/mobile/feedback/7.png 1x, images/mobile/feedback/7@2x.png 2x"
                type="image/png"
              />

              <source
                media="(min-width: 768px)"
                srcset="images/desktop/feedback/7.png 1x, images/desktop/feedback/7@2x.png 2x"
                type="image/png"
              />

              <img
                loading="lazy"
                class="feedback__image"
                src=" images/mobile/feedback/7.png"
                alt="Feedback portrait"
              />
            </picture>

            <a href="" class="feedback__social-link">
              <svg class="feedback__icon">
                <use href=" images/icons.svg#icon-vk-1"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__wrapper">
            <h3 class="feedback__name">Tonya Kucherovskaya</h3>

            <p class="feedback__text">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>

            <p class="feedback__excerpt">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
              <a class="feedback__read-more" href="">Read more</a>
            </p>
          </div>
        </article>
      </li>
    </ul>

    <div class="feedback__slider">
      <ul class="feedback__list">
        <li class="feedback__item">
          <img
            loading="lazy"
            class="feedback__avatar"
            srcset="images/nav-slider/1.png 1x, images/nav-slider/1@2x.png 2x"
            src="images/nav-slider/1.png"
            alt="Feedback portrait"
            width="54"
          />
        </li>
        <li class="feedback__item">
          <img
            loading="lazy"
            class="feedback__avatar"
            srcset="images/nav-slider/2.png 1x, images/nav-slider/2@2x.png 2x"
            src="images/nav-slider/2.png"
            alt="Feedback portrait"
            width="54"
          />
        </li>
        <li class="feedback__item">
          <img
            loading="lazy"
            class="feedback__avatar"
            srcset="images/nav-slider/3.png 1x, images/nav-slider/3@2x.png 2x"
            src="images/nav-slider/3.png"
            alt="Feedback portrait"
            width="54"
          />
        </li>
        <li class="feedback__item">
          <img
            loading="lazy"
            class="feedback__avatar"
            srcset="images/nav-slider/4.png 1x, images/nav-slider/4@2x.png 2x"
            src="images/nav-slider/4.png"
            alt="Feedback portrait"
            width="54"
          />
        </li>
        <li class="feedback__item">
          <img
            loading="lazy"
            class="feedback__avatar"
            srcset="images/nav-slider/5.png 1x, images/nav-slider/5@2x.png 2x"
            src="images/nav-slider/5.png"
            alt="Feedback portrait"
            width="54"
          />
        </li>
        <li class="feedback__item">
          <img
            loading="lazy"
            class="feedback__avatar"
            srcset="images/nav-slider/6.png 1x, images/nav-slider/6@2x.png 2x"
            src="images/nav-slider/6.png"
            alt="Feedback portrait"
            width="54"
          />
        </li>
        <li class="feedback__item">
          <img
            loading="lazy"
            class="feedback__avatar"
            srcset="images/nav-slider/7.png 1x, images/nav-slider/7@2x.png 2x"
            src="images/nav-slider/7.png"
            alt="Feedback portrait"
            width="54"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
