<header class="page-header" id="header">
  <div class="container page-header__container">
    <nav class="page-header__nav">
      <a href="#header" class="page-header__logo"
        ><svg class="page-header__logo-icon">
          <use href=" images/icons.svg#icon-logo-black"></use>
        </svg>
      </a>

      <div class="page-header__wrapper">
        <ul class="page-header__links">
          <li class="page-header__item">
            <a href="#program" class="page-header__link">Studying program</a>
          </li>
          <li class="page-header__item"><a href="#about" class="page-header__link">about</a></li>
          <li class="page-header__item">
            <a href="#how-we-do" class="page-header__link">training options</a>
          </li>
          <li class="page-header__item">
            <a href="#contacts" class="page-header__link">contacts</a>
          </li>
        </ul>

        <a href="#registration" class="button--inversed page-header__button">
          Consultation by phone
        </a>

        <button
          class="page-header__mobile-menu js-open-menu mobile-menu-button"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="mobile-menu-button__icon" stroke="#000000" width="20.5px" height="12px">
            <use href=" images/icons.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
