.fixed-button {
    &__link {
        @media screen and (max-width:1365px) {
            display: none;
        }

        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 115px;
        right: 40px;
        border-radius: 6px;
        background-image: url("../images/background-icons/fire-icon.svg");
        background-repeat: no-repeat;
        background-size: contain;

        &:hover,
        &:focus {
            background-image: url("../images/background-icons/ps_hand-pointer-top.svg");
        }
    }
}